<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saltlux.aice_fe.pc.receiveNumber.dao.ReceiveNumberDao">

    <select id="getNumberStaffList" resultType="map">
			SELECT A.pk_company_staff ,
			       A.fk_company ,
			       A.fd_staff_name ,
			       A.fd_staff_ai_uid ,
			       A.user_type ,
			       B.fk_company_staff_ai ,
			       B.fd_dnis ,
			       B.full_dnis ,
			       B.vgw_id,
			       E.disp_name     AS staff_work_code_name,
			       G.disp_name , 
         		   G.fk_ai_policy_avatar_img
			FROM   tbl_company_staff A
			       LEFT JOIN tbl_company_dnis B
			       ON     A.pk_company_staff = B.fk_company_staff_ai
			       AND 	  A.fk_company = B.fk_company
			       LEFT OUTER JOIN tbl_ai_conf_work D
         		   ON     A.pk_company_staff = D.fk_company_staff_ai
                   AND    D.front_status ="COMPLETE"
			       LEFT OUTER JOIN tbl_ai_policy_work E
			       ON       D.ai_work_cd   = E.ai_work_cd
                   AND 		D.p_ai_work_cd IS NULL
                   LEFT OUTER JOIN tbl_ai_conf_avatar_img G
			         ON       A.pk_company_staff = G.fk_company_staff_ai
			         AND      G.part_type        = 'face'
			WHERE  A.fd_staff_ai_yn          = 'Y'
			AND B.fd_dnis IS NULL
            AND E.disp_name IS NOT NULL
			AND A.bot_display_yn='Y'
           	AND A.fk_company = #{fkCompany}
    </select>
    
    <select id="getNumberStaffListComplete" resultType="map">
			SELECT A.pk_company_staff ,
			       A.fk_company ,
			       A.fd_staff_name ,
			       A.fd_staff_ai_uid ,
			       A.user_type ,
			       B.fk_company_staff_ai ,
			       B.fd_dnis ,
			       B.full_dnis ,
			       B.vgw_id,
			       E.disp_name     AS staff_work_code_name,
			       G.disp_name ,
       G.fk_ai_policy_avatar_img
			FROM   tbl_company_staff A
			       LEFT JOIN tbl_company_dnis B
			       ON     A.pk_company_staff = B.fk_company_staff_ai
			       AND 	  A.fk_company = B.fk_company
			       LEFT OUTER JOIN tbl_ai_conf_work D
         		   ON     A.pk_company_staff = D.fk_company_staff_ai
			       LEFT OUTER JOIN tbl_ai_policy_work E
			       ON       D.ai_work_cd   = E.ai_work_cd
			       AND      D.ai_work_cd = E.ai_work_cd
			       LEFT OUTER JOIN tbl_ai_conf_avatar_img G
			       ON     A.pk_company_staff = G.fk_company_staff_ai
			       AND    G.part_type        = 'face'
			WHERE  A.fd_staff_ai_yn          = 'Y'
			AND B.fd_dnis IS NOT NULL
			AND E.disp_name IS NOT NULL
			AND A.bot_display_yn='Y'
           	AND A.fk_company = #{fkCompany}
    </select>
</mapper>
