<html>

<head>
    <!-- 결제창 호출 JS -->
    <script type="text/javascript" src="https://testpay.kcp.co.kr/plugin/payplus_web.jsp"></script>
    <script type="text/javascript">

        /* 인증완료시 재귀 함수  */
        function m_Completepayment(FormOrJson, closeEvent) {
            var frm = document.order_info;
            GetField(frm, FormOrJson);

            if (frm.res_cd.value == "0000") {
                frm.submit();
            } else {
                alert("[" + frm.res_cd.value + "] " + frm.res_msg.value);
                closeEvent();
            }
        }

        /* 결제창 실행 함수 */
        function jsf__pay(form) {
            try {
                KCP_Pay_Execute(form);
            } catch (e) {
                /* IE 에서 결제 정상종료시 throw로 스크립트 종료 */
            }
        }
    </script>
</head>
<body>

<form name="order_info" method="post" action="http://localhost:3000/workapi/v1/payment/subscribe">
    <!-- 주문정보 세팅 -->  <br>
    구독 결제 세팅
    <br>
    주문번호
    <br>
    <input type="text" name="ordr_idxx" value="TEST12345" maxlength="40"/>
    <br>
    주문자명
    <br>
    <input type="text" name="buyr_name" value="홍길동"/>
    <br>
    kcp_group_id
    <br>
    <input type="text" name="kcpgroup_id" value="BA0011000348"/>
    <!-- 가맹점 정보 설정 -->
    <br>
    사이트코드
    <br>
    <input type="text" name="site_cd" value="BA001"/>
    <br>
    사이트명
    <br>
    <input type="text" name="site_name" value="TEST SITE"/>
    <!-- 상품 제공 기간 설정 -->
    <br>
    상품 제공 기간
    <br>
    <input type="text" name="good_expr" value="2:1m"/>
    <!-- 결제 방법 : 인증키 요청 -->
    <br>
    결제 방식 (고정값)
    <br>
    <input type="text" name="pay_method" value="AUTH:CARD"/>
    <br>
    배치키 요청(고정값)
    <br>
    <input type="text" name="card_cert_type" value="BATCH"/>
    <!-- 배치키 발급시 주민번호 입력을 결제창 안에서 진행 -->
    <br>
    <input type='text' name='batch_soc' value="Y"/>
    <!-- 필수항목 : 표준웹에서 값을 설정하는 부분으로 반드시 포함 되어야 합니다. 값 설정 하지 마십시오/ -->
    <!-- 배치키 발급 요청  -->
    <br>
    <a href="#none" onclick="jsf__pay(document.order_info);">인증 요청</a>
    <!-- 필수항목 : 표준웹에서 값을 설정하는 부분으로 반드시 포함 되어야 합니다. 값 설정 하지 마십시오/ -->

    <br>
    module_type
    <br>
    <input type="text" name="module_type" value="01"/>
    <br>
    res_cd
    <br>
    <input type="text" name="res_cd" value=""/>
    <br>
    res_msg
    <br>
    <input type="text" name="res_msg" value=""/>
    <br>
    enc_info
    <br>
    <input type="text" name="enc_info" value=""/>
    <br>
    enc_data
    <br>
    <input type="text" name="enc_data" value=""/>
    <br>
    ret_pay_method
    <br>
    <input type="text" name="ret_pay_method" value=""/>
    <br>
    주문번호
    <br>
    <input type="text" name="tran_cd" value=""/>
    <br>
    use_pay_method
    <br>
    <input type="text" name="use_pay_method" value=""/>
</form>
</body>
</html>